.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: aquamarine;
  color: white;
  font-size: 26px;
  min-width: 1280px;
  margin: 0 auto;
}