.boxWraper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.form {
  display: flex;
  gap: 20px;
}

.input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 120px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: aliceblue;
}

.searchBtn:hover {
  cursor: pointer;
  background-color: rgb(12, 12, 137);
}