.formWrapper {
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;
  
    margin: 0 auto;
    margin-top: 100px;
  
    width: 400px;
    height: 500px;
  
    border: 1px solid black;
    border-radius: 20px;
  
    gap: 20px;
    padding: 30px;
  }
  
  .input {
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .input:hover {
    cursor: pointer;
    box-shadow: 2px 2px 12px black;
  }
  
  .inputList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .loginBtn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: blue;
    color: white;
  }
  
  .loginBtn:hover {
    cursor: pointer;
    background-color: rgb(21, 21, 104);
  }
  
  .redirect {
    display: flex;
    gap: 5px;
  }