.userMenu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoutBtn {
  border: none;
  background-color: inherit;
  color: white;
}

.logoutBtn:hover {
  cursor: pointer;
  color: blanchedalmond;
}